html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open sans'sans-serif;
    background-color: black;
    color: white;
}

nav {
    position: fixed;
    width: 100%;
}

a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo-texto {
    text-decoration: none;
    color: white;
}

.icono-logo {
    width: 30px;
}


footer, hr, .card, .bg-icono {
    background-color: #2198ad;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
