html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open sans'sans-serif;
    background-color: #000000;
    color: #ffffff;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.logo-texto {
    color: #ffffff;
}

.icono-logo {
    width: 30px;
}

.row.match-my-cols {
    overflow: hidden;
}

.card {
    border-color: #fff6f69d;
}

nav, footer, hr, .card, .bg-icono {
    background-color: #0f98a1;
}

footer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer a {
    text-decoration: none;
    color: #ffffff;
}

footer ul {
    list-style-type: none;
}

footer li {
    float: left;
}

footer i {
    font-size: 1.5em;
}

@media (max-width: 576px) {
    footer {
        display: flex;
        align-items: stretch;
        justify-content: center;
    }
    footer h5 {
        margin-top: 2%;
    }
}